extends header

block content
  form(method="post" action="/upload" enctype='multipart/form-data')
    input(type="file" name="file1" class="form-control")
    input(type="file" name="file2" class="form-control")
    input(type="file" name="file3" class="form-control")
    input(type="file" name="file4" class="form-control")
    input(type="file" name="file5" class="form-control")
    div.actions
      input(type="submit")
